<!--
  ~ Copyright 2019, TeamDev. All rights reserved.
  ~
  ~ Redistribution and use in source and/or binary forms, with or without
  ~ modification, must retain the above copyright notice and the following
  ~ disclaimer.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  ~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  ~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  ~ A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  ~ OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  ~ SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  ~ LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  ~ DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  ~ THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  ~ (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~ OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->
<form class="add-quick-task-form" [formGroup]="createBasicTaskForms" autocomplete="off">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter task description</mat-label>
        <input #taskDescription
               (keydown.enter)="createBasicTask(taskDescription.value); taskDescription.value='';"
               class="task-description-textarea"
               autofocus
               matInput
               placeholder="What are you up to?"
               [formControlName]="'taskDescription'">
        <mat-error class="error">
            Task description must contain at least 3 letters.
        </mat-error>
    </mat-form-field>
</form>

<div class="priority-label" *ngIf="urgentList.hasElements">
    Urgent
</div>
<app-task-list [filter]="urgentFilter" #urgentList>
</app-task-list>

<div class="priority-label" *ngIf="normalList.hasElements">
    Normal priority
</div>
<app-task-list [filter]="normalPriorityFilter" #normalList>
</app-task-list>

<div class="priority-label" *ngIf="lowList.hasElements">
    Low priority
</div>
<app-task-list [filter]="lowPriorityFilter" #lowList>
</app-task-list>
