<!--
  ~ Copyright 2019, TeamDev. All rights reserved.
  ~
  ~ Redistribution and use in source and/or binary forms, with or without
  ~ modification, must retain the above copyright notice and the following
  ~ disclaimer.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  ~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  ~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  ~ A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  ~ OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  ~ SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  ~ LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  ~ DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  ~ THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  ~ (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~ OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<p>
    <mat-form-field appearance="standard">
        <mat-label>Description</mat-label>
        <input [formControl]="description" matInput placeholder="Description" required>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="standard">
        <mat-label>Priority</mat-label>
        <mat-select [formControl]="priority" placeholder="Priority">
            <mat-option *ngFor="let priority of POSSIBLE_PRIORITIES" [value]="priority">
                {{priority | taskPriorityName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</p>
<p>
    <mat-form-field>
        <input [formControl]="dueDate" matInput [min]="today" [matDatepicker]="dueDate" placeholder="Due date">
        <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
        <mat-datepicker #dueDate></mat-datepicker>
    </mat-form-field>
</p>
<app-error-viewport></app-error-viewport>
