<!--
  ~ Copyright 2019, TeamDev. All rights reserved.
  ~
  ~ Redistribution and use in source and/or binary forms, with or without
  ~ modification, must retain the above copyright notice and the following
  ~ disclaimer.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  ~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  ~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  ~ A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  ~ OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  ~ SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  ~ LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  ~ DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  ~ THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  ~ (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~ OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<p class="mat-h2">
    Available labels:
</p>
<p>
    <mat-selection-list>
        <mat-list-option *ngFor="let label of available" (click)="switchSelected(label)"
                         [style.background-color]="label.getColor() | labelColorView">
            {{label.getTitle()}}
        </mat-list-option>
    </mat-selection-list>
</p>
<p>
    <a routerLink="/labels" mat-stroked-button color="primary">Edit labels</a>
</p>
<p class="mat-h2">
    Selected:
    <mat-chip-list>
        <mat-chip *ngFor="let label of selected"
                  [style.background-color]="label.getColor() | labelColorView">
            {{label.getTitle()}}
        </mat-chip>
    </mat-chip-list>
</p>


<a (click)="back()" mat-button color='primary'>Previous</a>
<a (click)="next()" mat-button color='primary'>Next</a>
<a (click)="cancel()" mat-button color='primary'>Cancel</a>
<app-error-viewport></app-error-viewport>
