<!--
  ~ Copyright 2019, TeamDev. All rights reserved.
  ~
  ~ Redistribution and use in source and/or binary forms, with or without
  ~ modification, must retain the above copyright notice and the following
  ~ disclaimer.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  ~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  ~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  ~ A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  ~ OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  ~ SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  ~ LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  ~ DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  ~ THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  ~ (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~ OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<mat-sidenav-container class = "task-list-container">
    <mat-sidenav mode="side" opened class="task-list-sidenav">
        <nav class="navPanel">
            <div [routerLink]="[{ outlets: { tasks: ['active'] } }]" [routerLinkActive]="['active']">
                Active
            </div>
            <div [routerLink]="[{ outlets: { tasks: ['drafts'] } }]" [routerLinkActive]="['active']">
                Drafts
            </div>
            <div [routerLink]="[{ outlets: { tasks: ['completed'] } }]"
               [routerLinkActive]="['active']">
                Completed
            </div>
            <div [routerLink]="[{ outlets: { tasks: ['deleted'] } }]" [routerLinkActive]="['active']">
                Deleted
            </div>
            <div routerLink="/labels" class="labelLink">Labels</div>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content class="task-list-content">
        <router-outlet name="tasks"></router-outlet>
        <button routerLink="/wizard">Add new task</button>
        <!-- TODO:2019-02-05:dmytro.kuzmin: Remove when the normal task creation is ready.-->
        <button (click)="createBasicTask()">Create basic task just for test</button>

    </mat-sidenav-content>
</mat-sidenav-container>
