.navPanel {
  width: 500px;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  border-color: #ffffff;
  /*outline: solid #ffffff;*/
}

nav a:visited, a:link {
  color: #607d8b;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

nav a.active {
  color: #039be5;
}

a.labelLink {
  float: right;
}

.tasks {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.tasks li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.tasks li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.tasks li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.tasks .text {
  position: relative;
  top: -3px;
}
